*{
      background-color: rgb(30, 30, 30);
      color: white;
      margin: 0;
      padding: 0;
  }

.navbar, .navbar .container {
    background: none;
    color: white;
}

#main-container {
   
    /* justify-content: center; */
    max-width: 480px;
}

#nav-container {
    margin-left: 1%;
}

.logo img {
    border-radius: 50%;
    outline: none;
    border: none;
    transition: 0.7s;
}

.logo img:hover{
    cursor: pointer;
}

.logo .col, .logo .row{
    background: transparent !important;
    transition: 1s;
}

.logo .col {
    margin-top: 1%;
}

#logo-container {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    max-width: 480px;
    margin-top: 40px;
    background: none;

}



p {
    color: rgb(170, 170, 170);
    margin-top: 0%;
}

