*{
    background-color: rgb(45, 45, 45);
    color: white;
    margin: 0;
    padding: 0;
  }

.navbar, .navbar .container {
    background: none;
    color: white;
}


#main-container {
    max-width: 480px;
}

.name {
    opacity: 0;
    animation: fade 1.5s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}


.main-content {
    opacity: 0;
    animation: fade 1.5s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

.main-project {
    opacity: 0;
    animation: fade 1.5s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

#nav-container {
    margin-left: 1%;
}


.logo img {
    border-radius: 50%;
    outline: none;
    border: none;
    transition: 1s;
    position: relative;

}

.logo img:hover{
    cursor: pointer;
}

.logo .col, .logo .row{
    background: transparent !important;
}


.logo .col {
    margin-top: 1%;
}

#logo-container {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    max-width: 480px;
    margin-top: 40px;
    background: none;
    z-index: 2000;
}

p {
    color: rgb(170, 170, 170);
    margin-top: 0%;
}

.card-title {
    color: rgb(170, 170, 170);
}

.icons {
    margin-right: 2%;
}

